.navigation {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  .nav-link {
    text-decoration: none;
    font: inherit;
    color: #F41919;
    font-weight: bold;
    display: flex;
    align-items: center;

  
  }
}
